@font-face {
    font-family: benzin;
    src: url(../font/Benzin-Font/Benzin-Bold.ttf);
}

@font-face {
    font-family: inter;
    src: url(../font/Inter-VariableFont_opsz\,wght.ttf);
}

* {

    padding: 0;
    margin: 0;

}

body {

    background-color: #4E5CEA;
    margin: 0;
    padding: 0;
    width: 100vw;

}

section.home {

    display: flex;
    width: 100vw;
    height: 770px;
    flex-direction: column;

}

section.home > .titulo {

    display: flex;
    width: 100vw;
    height: 440px;


}

section.home > .titulo > h1 {

    color: white;
    padding-top: 240px;
    margin: 0 auto;
    font-size: 110px;
    font-family: benzin;

}

section.home > .desc {

    display: flex;
    width: 100vw;
    height: 120px;

}

section.home > .desc > p {

    color: white;
    padding-top: 0px;
    margin: 0 auto;
    font-size: 24px;
    font-family: inter;
    font-weight: 200;

}

section.home > .cta {

    display: flex;
    width: 100vw;
    height: 250px;

}

section.home > .cta > a {

    color: blue;
    padding-top: 12px;
    margin: 0 auto;
    font-size: 24px;
    text-decoration: none;
    background-color: yellow;
    width: 20vw;
    height: 40px;
    border-radius: 13px;
    text-align: center;
    font-weight: bold;
    font-family: inter;

}

section.sobre {

    display: flex;
    width: 100vw;
    height: auto;
    flex-direction: column;
    background-color: white;

}

section.sobre > .onda {

    display: flex;
    width: 100vw;
    height: 270px;

}

section.sobre > .onda > img {

    display: flex;
    width: 100vw;
    height: auto;

}

section.sobre > .imagens {

    display: flex;
    width: 100vw;
    position: relative;
    top: -330px;  
}


section.sobre > .imagens > .esquerda {

    display: flex;
    width: 50vw;

}

section.sobre > .imagens > .esquerda > img {

    scale: 0.6;
    padding-top: 40px;

}

section.sobre > .imagens > .direita {

    display: flex;
    width: 50vw;

}

section.sobre > .imagens > .direita > img {

    scale: 0.8;

}

section.sobre > .conteudo {

    display: flex ;
    background-color: white;
    width: 100vw;
    height: auto;
    position: relative;
    top: -350px;
    font-family: benzin;
    font-weight: bold;
    font-size: 28px;

}

section.sobre > .conteudo > .sobrezin {

    display: flex ;
    width: 75vw;
    margin: 0 auto;
    text-align: center;
    height: auto;
    position: relative;
    left: -60px;

}

section.sobre > .conteudo > .ruivo {

    display: flex ;
    z-index: 4;
    position: relative;
    left: 315px;

}

section.sobre > .cta {

    display: flex ;
    width: 100vw;
    height: 100px;
    position: relative;
    top: -200px;
}

section.sobre > .cta > a {

    display: flex ;
    width: 30vw;
    height: 50px;
    background-color: #FFFF00;
    margin: 0 auto;
    border: 2px solid #4E5CEA;
    border-radius: 10px;
    text-decoration: none;
    justify-content: center;
    padding-top: 18px;
    font-size: 24px;
    font-weight: bold;
    font-family: inter;
    color: #4E5CEA;
    box-shadow: 0 7px 0 #4E5CEA;
}

section.info {

    display: flex;
    width: 100vw;
    height: 300px;
    background-color: #4E5CEA;
    flex-direction: column;

}

section.info > p {

    display: flex;
    width: 70vw;
    margin: 100px auto;
    height: auto;
    font-family: inter;
    font-weight: 200;
    color: white;
    text-align: justify;
    font-size: 24px;

}

section.timeline {

    display: flex;
    width: 100vw;
    height: auto;
    flex-direction: column;
    background-color: white;

}

section.timeline > img {

    width: 70vw;
    height: auto;
    margin: 0 auto;
    scale: 0.8;

}

section.contato {

    display: flex;
    width: 100vw;
    height: 750px;
    flex-direction: column;

}

section.contato > div {

    display: flex;
    width: 100vw;
    height: 320px;

}

section.contato > div > h1 {

    display: flex;
    font-family: benzin;
    font-size: 120px;
    font-weight: bold;
    justify-content: center;
    color: white;
    margin: 0 auto;
    margin-top: 140px ;
}

section.contato > .redes {

    display: flex;
    width: 100vw;
    height: 162px;
    justify-content: center;
}

section.contato > .redes > .redes_sociais {

    display: flex;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    flex-direction: column;
    text-decoration: none;
    justify-content: space-between;

}
section.contato > .redes > .redes_sociais > img {

    width: 20px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;

}

section.contato > .redes > .redes_sociais > p {

    display: flex;
    font-size: 18px;
    font-family: inter;
    font-weight: 200;
    color: white;
    margin: 0 auto;
    padding-bottom: 10px;

}

section.contato > .cta {

    display: flex;
    width: 100vw;
    height: 130px;

}

section.contato > .cta > a {

    display: flex;
    width: 40vw;
    height: 60px;
    border: 1px solid #FFFF00;
    background-color: #FFFF00;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    justify-content: center;
    padding-top: 27px;
    font-size: 24px;
    font-weight: bold;
    font-family: inter;
    text-decoration: none;

}

section.contato > .cta > a > img {

    display: flex;
    width: 30px;
    height: 30px;
    color: #4E5CEA;
    margin-right: 10px;
}
footer {

    display: flex;
    width: 100vw;
    height: 70px;
    background-color: white;
    justify-content: center;

}

footer > a {

    display: flex;
    width: 20vw;
    height: auto;
    font-family: inter;
    font-size: 12px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.25);
    text-decoration: none;
    justify-content: center;
    margin-top: 25px;

}

footer > a > img {

    display: flex;
    width: auto;
    height: 24px;
    position: relative;
    top: -3px;

}

/*-------------------RESPONSIVIDADE MOBILE--------------------------*/

@media screen and (min-width: 300px) and (max-width: 768px) {


    section.home > .titulo > h1 {

        font-size: 80px;
        padding-top: 300px;
    
    }
    
    
    section.home > .desc > p {
    
        font-size: 18px;
    
    }
    
    section.home > .cta > a {

        width: 35vw;
    
    }

    section.sobre {

        display: flex;
        flex-direction: column;
        border: 1px solid yellow;

    }

    section.sobre > .onda > img {

        width: 100vw;
        height: 150px;
    
    }
    
    
    section.sobre > .imagens {
    
        display: flex;
        flex-direction: column-reverse; 

    }
    
    
    section.sobre > .imagens > .esquerda {

        width: 100vw;
    
    }
    
    section.sobre > .imagens > .esquerda > img {
    
        scale: 0.6;
        padding-top: 60px;
        margin: 0 auto;
    
    }
    
    section.sobre > .imagens > .direita {
    
        width: 100vw;
    
    }
    
    section.sobre > .imagens > .direita > img {
    
        width: 400px;
        height: auto;
        margin: 0 auto;
        padding-left: 30px;
        margin-top: 160px;
    
    }

    section.sobre > .conteudo {

        width: 100vw;
        border: 1px solid red;
    }
    
    section.sobre > .conteudo > .sobrezin {

        width: 100vw;
        font-size: 28px;
        text-align: left;

    }
    
    section.sobre > .conteudo > .ruivo {
    
        position: relative;
        left: 87px;
    
    }

    section.sobre > .cta {

        width: 100vw;
        height: 100px;
        margin-top: 0;
        border: 1px solid red;

    }
    
    
    section.sobre > .cta > a {

        width: 50vw;
        padding-top: 25px;
        font-size: 18px;

    }

    section.info {

        width: 100vw;

    }

    section.info > p {

        margin-top: 40px;
        width: 80vw;

    }

    section.timeline {

        width: 100vw;

    }

    section.timeline > img {

        width: 100vw;
        scale: 0.8;

    }

    
    
    section.contato > div > h1 {
    
        font-size: 80px;
        margin-top: 180px ;

    }
    
    
    section.contato > .cta {
    
        display: flex;
        width: 100vw;
        height: 130px;
    
    }
    
    section.contato > .cta > a {
    
        width: 65vw;
        height: 60px;
        padding-top: 30px;

    
    }

    footer {

        width: 100vw;
        margin: 0 auto;

    }

    footer > a {
    
        width: 50vw;
    
    }
    

}

@media screen and (min-width: 769px) and (max-width: 1080px) {

    

}